.navbar {
  height: 60px;
  background: #f1f5f9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  border-bottom: 1px solid #e2e8f0;
}

.logout-btn {
  background-color: #dc2626;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
}

.logout-btn:hover {
  background-color: #b91c1c;
}
