.sidebar {
  width: 220px;
  height: 100vh;
  background-color: #1e3a8a;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
}

.sidebar-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: bold;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  padding: 12px 10px;
  cursor: pointer;
  border-radius: 8px;
  margin-bottom: 10px;
  transition: 0.3s;
}

.sidebar ul li:hover {
  background-color: #3748b3;
  padding-left: 15px;
}
