<!--<h1>CRM Dashboard</h1>-->

<!--<form method="POST">-->
<!--  {% csrf_token %}-->
<!--  {{ form.as_p }}-->
<!--  <button type="submit">Add Lead</button>-->
<!--</form>-->

<!--<ul>-->
<!--  {% for lead in leads %}-->
<!--    <li>{{ lead.name }} - {{ lead.email }} - {{ lead.source }}</li>-->
<!--  {% empty %}-->
<!--    <li>No leads yet.</li>-->
<!--  {% endfor %}-->
<!--</ul>-->



<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
</head>
<body>
    <h1>Welcome to the Dashboard Page</h1>
</body>
</html>
